@tailwind base;
@tailwind components;
@tailwind utilities;

.scrolled {
  background-color: #333;
}

:root {
  /* --vscode-foreground: #ffffff;
  --vscode-background: #1e1e1e; */
  --vscode-primary: #007acc;
  /* Add more colors from your VS Code theme */
}